<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnb</title>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U"%>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>

    <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type="text/javascript">
      window.CLOUDINARY_OPTIONS = {
        cloud_name: "<%= ENV['CLOUD_NAME'] %>",
        upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
      }
    </script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
